@font-face {
    font-family: heading-font;
    src: url(../CSS/billion-dreams-font/BillionDreams-vmgK9.ttf);
  }

body{
    padding: 3rem; 
}

.heading-primary{
    color: $color-white;
    font-family: heading-font;
    font-weight: lighter;
    text-align: center;
    animation-fill-mode: backwards;
    
    &--main{
        display: block;
        font-size: 15rem;
        height: 30rem; 
        animation: moveInTop;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-fill-mode :both;
    }

    &--sub{
        display: block;
        word-spacing: 2rem;
        animation: moveInBottom;
        animation-duration: 1s;
        animation-delay: 4s;
        animation-fill-mode :both;
        font-size: 2rem;
        font-family:$font;
        font-weight: 700;
        margin-bottom: 5rem;
    }

}

.heading-secondary{
    font-family: $font;
    text-transform: uppercase;
    font-size: $font-l;
    letter-spacing: 0.2rem;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-head-secondary,$color-head-primary);
    display: inline-block;
    color: transparent;
    -webkit-background-clip : text;
    margin-bottom: 5rem;
    
}

.heading-teritiary{
    font-family: $font;
    font-size: $font-m;
    text-transform: uppercase;
    color: $color-t3-heading;
}

.para{
    font-family: sans-serif;
    font-size: $font-s;
    &:not(:last-child){
        margin-bottom: 1.5rem;
    }
}

.link-text{
    &:link, &:visited{
        font-family: $font;
        font-size: $font-m;
        color: $color-head-primary;
        text-decoration: none;
        display: inline-block;
        padding: 0.5rem 1.5rem;
        transition: all .2s;
    }
    
    &:hover{
        background-color: $color-head-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.3);
        transform: translateY(-.3rem);
        &:active{
        box-shadow: 0 0.6rem 2rem rgba(0,0,0,0.2);
        transform: translateY(0rem);
    }
    }
    
}