.row{
    max-width: $grid-width;
    font-family: sans-serif;
    margin: 0 auto;
    &:not(:last-child){
        margin-bottom: $gutter-v;
    } 
}

.col{
    float : left;
    width: calc((100% - #{$gutter-h})/2);
    &:not(:last-child){
        margin-right: $gutter-h;
    }
}

.col-1-4{
    float : left;
    width: calc((100% - #{$gutter-h})/5);
    &:not(:last-child){
        margin-right: $gutter-h;
    }
}