@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translate(0px, 100px); }
  100% {
    opacity: 1;
    transform: translate(0px, 0px); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-1rem); }
  80% {
    transform: translateY(0.2rem); }
  100% {
    opacity: 1;
    transform: translate(0rem); } }

@keyframes btn-animate {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translate(0rem); } }

*, *::after, *::before {
  margin: 0;
  padding: o;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@font-face {
  font-family: heading-font;
  src: url(../CSS/billion-dreams-font/BillionDreams-vmgK9.ttf); }

body {
  padding: 3rem; }

.heading-primary {
  color: white;
  font-family: heading-font;
  font-weight: lighter;
  text-align: center;
  animation-fill-mode: backwards; }
  .heading-primary--main {
    display: block;
    font-size: 15rem;
    height: 30rem;
    animation: moveInTop;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: both; }
  .heading-primary--sub {
    display: block;
    word-spacing: 2rem;
    animation: moveInBottom;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-fill-mode: both;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 700;
    margin-bottom: 5rem; }

.heading-secondary {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #00f7ff, #0095ff);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 5rem; }

.heading-teritiary {
  font-family: sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: #2e2e2e; }

.para {
  font-family: sans-serif;
  font-size: 1.5rem; }
  .para:not(:last-child) {
    margin-bottom: 1.5rem; }

.link-text:link, .link-text:visited {
  font-family: sans-serif;
  font-size: 2rem;
  color: #0095ff;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  transition: all .2s; }

.link-text:hover {
  background-color: #0095ff;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.3rem); }
  .link-text:hover:active {
    box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(0rem); }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn:visited, .btn:link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  font-family: sans-serif;
  font-weight: bold;
  transition: 0.2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.3rem); }
  .btn:hover::after {
    transform: scaleX(1.1) scaleY(1.5);
    opacity: 0; }

.btn:active {
  box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(0rem); }

.btn--white {
  background-color: white;
  color: #0095ff;
  word-spacing: 1.5rem;
  animation: btn-animate 1s 5s ease-out;
  animation-fill-mode: backwards; }
  .btn--white::after {
    background-color: white; }

.btn::after {
  width: 100%;
  height: 100%;
  content: "";
  display: inline-block;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.6s; }

.composition {
  z-index: 10;
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 0.2rem;
    position: absolute;
    outline-offset: 0.5rem;
    transition: all .2s; }
    .composition__photo-p1 {
      left: 0;
      top: -2rem; }
    .composition__photo-p2 {
      right: 0;
      top: 2rem; }
    .composition__photo-p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      z-index: 20;
      transform: scale(1.05);
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.6);
      outline: 0.2rem solid #0095ff; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 1.5rem;
  padding: 2.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, #00f7ff, #0095ff);
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text; }
  .feature-box:hover {
    transform: translateY(-0.3rem); }

.row {
  max-width: 114rem;
  font-family: sans-serif;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }

.col {
  float: left;
  width: calc((100% - 6rem)/2); }
  .col:not(:last-child) {
    margin-right: 6rem; }

.col-1-4 {
  float: left;
  width: calc((100% - 6rem)/5); }
  .col-1-4:not(:last-child) {
    margin-right: 6rem; }

.header {
  height: 95vh;
  background-size: cover;
  background-position: top;
  background-image: linear-gradient(rgba(0, 149, 255, 0.6), rgba(0, 247, 255, 0.6)), url(../Img/header2.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    left: 3rem;
    top: 3rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 10rem 0;
  margin-top: -9.5vh;
  height: 65rem; }

.section-features {
  padding: 15rem;
  background: cover;
  background-image: linear-gradient(rgba(0, 149, 255, 0.6), rgba(0, 247, 255, 0.6)), url(../Img/mountains.jpeg);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  margin-top: -9.5vh;
  height: 45rem; }
