*{
    margin: 0px auto;
}

body{
    height: 100%;
    width: 100%;
    margin: 0px;
}

@font-face {
    font-family: b-font;
    src: url(../Fonts/birthday/Birthday.ttf);
    /*src: url(../Fonts/cinderella/Cinderella.otf);*/
  }

.container {
  overflow: hidden;
}

.sliding-background {
  background: url(../Img/MainBG.jpg) repeat-x;
  height: 95vh;
  width: 3000px;
    background-size: 100%;
  animation: slide 300s linear infinite;
    
}

@keyframes slide{
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

#main{
    width: 90%;
    height: 90%;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
    background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.9)),url(../Img/MainBG.jpg);
    background-size: 100%;
}


.flag-banner{
    width: 100%;
    height: 120px;
    background-image: url(../Img/flags.png);
    background-size: 100%;
}

#flag-banner2{
    position: absolute;
    top: 59px;  
    left: 125px;
    transform: rotate(15deg);
    width: 79%;
}

.text-container{
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    
}
.text{
    font-size: 80px;
    font-family:b-font;
    text-align: center;
    padding: 0px;
    color:#439699;
    font-weight: 400;
    border: 0px solid black;
    animation-fill-mode: backwards;
    display: none;
    margin-top: 10px;
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    80%{
        
        transform: translateY(.2rem);
    }
    100%{
        
        opacity: 1;
        transform: translate(0rem);
    }
}

@keyframes changeColor{
    from{color:  #439699 }
    to{color: #ebcc34 }
}

@keyframes changeColor-old{
    from{color: #ebcc34}
    to{color: crimson}
}

.animate-happy{
    animation-name: moveInBottom;
    animation-duration: 2s;
    animation-delay: 6s;
    animation-fill-mode :both;
}

.animate-happy-new{
    animation-name: changeColor;
    animation-duration: 2s;
    animation-fill-mode :both;
}

.animate-happy-new-new{
    animation-name: changeColor-old;
    animation-duration: 2s;
    animation-fill-mode :both;
}

.animate-birthday{
    animation-name: moveInBottom;
    animation-duration: 2s;
    animation-delay: 6.5s;
    animation-fill-mode :both;
}

.animate-birthday-new{
    animation-name: changeColor;
    animation-duration: 2s;
    animation-fill-mode :both;
}

.animate-birthday-new-new{
    animation-name: changeColor-old;
    animation-duration: 2s;
    animation-fill-mode :both;
}

.animate-to{
    animation-name: moveInBottom;
    animation-duration: 2s;
    animation-delay: 8s;
    animation-fill-mode :both;
}

.animate-to-new{
    animation-name: changeColor;
    animation-duration: 2s;
    animation-fill-mode :both;
}

.animate-to-new-new{
    animation-name: changeColor-old;
    animation-duration: 2s;
    animation-fill-mode :both;
}

.animate-you{
    animation-name: moveInBottom;
    animation-duration: 2s;
    animation-delay: 8.5s;
    animation-fill-mode :both;
}

.animate-you-new{
    animation-name: changeColor;
    animation-duration: 2s;
    animation-fill-mode :both;
}

.animate-you-new-new{
    animation-name: changeColor-old;
    animation-duration: 2s;
    animation-fill-mode :both;
}

.animate-name{
    animation-name: moveInBottom;
    animation-duration: 2s;
    animation-delay: 22s;
    animation-fill-mode :both;
    color: crimson;
}


.song{
    position: absolute;
    top: 80%;
    border: 0px solid black;
    width: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.song audio{    
    display: none;
}

.btn-bg{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #439699;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: 0.2s;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.3);
}
.btn-bg:active{
    box-shadow: 0 1rem 2rem rgba(0,0,0,0);
    transform: translateY(.5px);
}

.song-button{
    width: 100px;
    height: 100px;
    background-image: url(../Img/play-button.png);
    background-size: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-60%,-60%) rotate(230deg);
}



.balloon {
  display:inline-block;
   width:120px;
  height:145px;
  background:hsl(215,50%,65%);
  border-radius:80%;
  position:relative;
  box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
  margin:20px 30px;
  transition:transform 0.5s ease;
  z-index:10;
  animation:balloons 4s ease-in-out infinite;
  transform-origin:bottom center;
}

@keyframes balloons {
  0%,100%{ transform:translateY(0) rotate(-4deg); }
  50%{ transform:translateY(-25px) rotate(4deg); }
}


.balloon:before {
  content:"▲";
  font-size:20px;
  color:hsl(215,30%,50%);
  display:block;
  text-align:center;
  width:100%;
  position:absolute;
  bottom:-12px;
  z-index:-100;
}

.balloon:after {
 display:inline-block; top:130px;
    left:60px;
  position:absolute;
  height:200px;
  width:1px;
  margin:0px auto;
  content:"";
  background:rgba(0,0,0,0.2); 
}

.balloon:nth-child(2){ background:hsl(245,40%,65%); animation-duration:3.5s; }
.balloon:nth-child(2):before { color:hsl(245,40%,65%);  }

.balloon:nth-child(3){ background:hsl(139,50%,60%); animation-duration:3s; }
.balloon:nth-child(3):before { color:hsl(139,30%,50%);  }

.balloon:nth-child(4){ background:hsl(59,50%,58%); animation-duration:4.5s; }
.balloon:nth-child(4):before { color:hsl(59,30%,52%);  }

.balloon:nth-child(5){ background:hsl(23,55%,57%); animation-duration:5s; }
.balloon:nth-child(5):before { color:hsl(23,44%,46%);  }
