//color
$color-head-primary : #0095ff;
$color-head-secondary : #00f7ff;
$color-grey-light-1 : #f7f7f7;
$color-white : white;
$color-black : black;
$color-t3-heading : #2e2e2e;

//text
$font : sans-serif;
$font-s : 1.5rem;
$font-m : 2rem;
$font-l : 3rem;
$icon-size : 4rem;
//grid
$grid-width : 114rem;
$gutter-h : 6rem;
$gutter-v : 8rem;

//margins
$margin-bottom-m : 6rem;
$margin-bottom-s : 1.5rem;