//color
$color-head-primary : #0095ff;
$color-head-secondary : #00f7ff;
$color-grey-light-1 : #f7f7f7;
$color-white : white;
$color-black : black;

//text
$font : sans-serif;
$font-s : 1.5rem;
$font-m : 2rem;
$font-l : 3rem;

//grid
$grid-width : 114rem;
$gutter-h : 2rem;
$gutter-v : 8rem;

//margins
$margin-bottom-m : 8rem;
$margin-bottom-s : 1.5rem;