/* Fonts here */
header, footer, #quote-msg, .quote, h1, button, #submit{
    font-family: sans-serif;
    color: white;
}
/* Fonts here */

/* Theme */
header, button, footer, #submit{
    background-color: crimson;
}
/* Theme */

body{
    margin : 0;
    padding: 0;
    height: 900px;
    width: 100%;

}

header{
    position: fixed;
    top:0px;
    width: 100%;
    height: 7vh;  
    text-align: center;
    z-index: 1;
}

header h2{
    margin : 0;
    padding: 0;
    letter-spacing: 8px;
}

header p{
    margin-top : 3px;
    padding: 0;
    font-size: 10px;
    letter-spacing: 11px;
}

#main-bg{
    width: 100%;
    height: 73vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;
    background-attachment:fixed;
    
  
    
    animation-name: fadeInOut;
    animation-duration: 50s;
    animation-direction:alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes fadeInOut{
    0%{
        background-image: url(Images/1.png);
    }
    25%{
        background-image: url(Images/2.png);
    }
    50%{
        background-image: url(Images/3.png);
    }
    75%{
        background-image: url(Images/4.png);
    }
    100%{
        background-image: url(Images/5.png);
    }
}

#main-bg-grad{
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    width: 100%;
    height: 7vh;
    position:absolute;
    bottom: 130px;
    border: none;
}

.tile-container{
    width: 100%;
    height : 50vh;
}

.tile{
    height: 44vh;
    margin-top: 5vh;
    background-color: white;
    margin-bottom: 1vh;
}

#tile1{
    background-color: white;
    float: left;
    margin-left: 1vh; 
    animation-duration: 5s;
    animation-direction:alternate;
    transition: none;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
    animation-play-state:running;
    animation-timing-function:ease-out;
}

#tile1 img{
     width: 25vh;
    height: 25vh;
    position:relative;
}

#tile1 p{
    word-wrap: break-word;
    width: 25vh;
    color: crimson;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

#tile2{
    float: right;
    margin-right: 1vh;
    width: 150vh;
}

#tile2 p{
    float: left;
    font-family: sans-serif;
    color:crimson;
    font-weight: bold;
    width: 30vh;
    height: 30vh;
    background-color: white;
    position:relative;
    left: 5vh;
    padding: 20px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5), 0 6px 5px 0 rgba(0,0,0,0.1);
}

#tile2 span{
    position: relative;
    left: 5vh;
    top:15vh;
}

#tile2 img{
    float: right;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5), 0 6px 5px 0 rgba(0,0,0,0.1);
    margin-right: 25vh;
    margin-top: 3vh;
    width : 55vh;
    height: 35vh;
}

footer{
    width: 100%;
    height : 20vh;
    font-size: 12px;
}

footer div{
    margin-left: 10px;
}

footer div h3{
    position: relative;
    top: 5px;
}

#copyrights{
    position:relative;
    top: 30px;
}

#main-text{
    position: absolute;
    bottom: 10vh;;
    left: 10vh;
    width: 30%;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
}

#quote-stn{
    width: 100%;
    height: 55vh;
}

#quote-stn h1{
    font-weight: bolder;
    font-size: 15px;
}

#quote-msg{
    width: 100%;
    min-height: 200px;
    opacity: 0.6;
    font-weight: 400;
    display: inline-block;
    font-weight: bold;
    word-wrap: break-word;
    color: black;
}

.quote{
    font-size: 4vh;
    opacity: 0.8;
    color: crimson;
}

h1{
    color:crimson;
    font-size: 11px;
    opacity: 0.8;
    margin: 0;
    position: relative;
    z-index: 1;
    display: block;
    margin-bottom: 5vh;
}

button, #submit{
    width: 20vh;
    height: 5vh;
    border: none;
    position:relative;
    bottom: 3vh;
    left: 2vh;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5), 0 6px 5px 0 rgba(0,0,0,0.1);
}

#submit{
    bottom: 2vh;
}

button, #submit :active{
    transform: translateY(2vh);
    transition: 1s;
}

.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rbga(0,0,0,0.6);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.modal-content{
    width: 1000px;
    height: 200px;
    background-color: white;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5), 0 6px 5px 0 rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
    display: none;
    padding-top: 5vh;
}

.textpad{
    border-radius: 0px;
    width: 50vh;
    padding-top: 20px;
    margin: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.modal-content span{
    color: black;
    font-family: sans-serif;
    font-size: 2vh;
    margin-left: 1vh;
}

.modal-content a:link{
    color: black;
  background-color: transparent;
  font-family: sans-serif;
    font-size: 2vh;
    margin-left: 5vh;
}

.modal-content a:hover{
    color: black; 
  background-color: transparent;
  font-family: sans-serif;
    font-size: 2vh;
    margin-left: 5vh;
}

.modal-content a:visited{
    color: black; 
  background-color: transparent;
  font-family: sans-serif;
    font-size: 2vh;
    margin-left: 5vh;
}

.modal-content[type="checkbox"]:checked:before{
    background-color: crimson;
}

#close{
    position: absolute;
    top:0px;
    right: 10px;
    font-size: 40px;
    opacity: 80%;
    transform: rotate(45deg);
    font-weight: bold;
    cursor: pointer;
}
